.eventsCount {
    font-size: 33;
    horizontal-align: center;
    text-align: center;
    white-space: pre-wrap;
    margin: 20;
}

button {
    font-size: 16;
    horizontal-align: right;
    display: inline-block;
    background-color: white;
    font-style: normal;
    border: none;
}

.buttonContainer{
    horizontal-align: right;
    padding-block-end: 20;
}

.message {
    font-size: 20;
    color: #284848;
    horizontal-align: center;
}

ActionBar {
    background-color:  #990099;
    color: white;
}

.btn-big{
  background-color:  #990099;
    color: white;
}

TabViewItem{
      background-color:  #990099;
    color: white;
}

.fab-button {
    height: 70;
    margin: 15;
    background-color:  #ff4081; 
    horizontal-align: right; /* Android Only */
    vertical-align: bottom; /* Android Only */
    color: #fff;  /* iOS Only */
}

.item-row{  
    padding: 5;
    color: greenyellow; 
}

.tab-header{
    horizontal-align: center;
    margin-top: 20;
    font-size: 20em
}

.main-container{
    padding: 10;
}

.sticky-text{
     vertical-align: middle;
     border-color: none;
     color: black;
     padding: 30;
     padding-top: 80;
     font-size: 10em;
     horizontal-align: center;
     text-align: center;
     white-space: pre-wrap;     
}